<img id="bottomBar" src="Images/bottomBar.png">
<div class="bottomRectangle">
    <p>
        <a id="bottomImg" href="https://discord.gg/FPC7xM6e" target="_blank">
            <img src="Images/brandLogos/Discord/Discord-Logo-White.svg" height=40px width=40px></a>
        <a id="bottomImg" href="https://twitter.com/Geo_Cubed" target="_blank">
            <img src="Images/brandLogos/Twitter/Twitter Logos/Twitter_Logo_WhiteOnImage/Twitter_Logo_WhiteOnImage.svg" width=40px height=40px></a>
        <a id="bottomImg" href="https://github.com/Geo-Cubed/Squid-League-4" target="_blank">
            <img src="Images/brandLogos/GitHub/GitHub-Mark-Light-64px.png" width=40px height=40px></a>
    </p>
    <p>
        <NavLink id="bottomText" href="helpfulPeople">Helpful People</NavLink>
        <NavLink id="bottomText" href="otherLinks">Other Links</NavLink>
    </p>
</div>