@page "/helpfulPeople"

<link href="~/css/helpfulPeople.css" rel="stylesheet" />
<div class="cardContainer">
    <div id="title">Special Thanks</div>
    <div class="people">
        <div class="card">
            <img class="cardImg" src="https://pbs.twimg.com/profile_images/1305991591081934854/N3V6uVvC_400x400.jpg">
            <div class="helpfulPeopleContainer">
                <h5><b>Scottso</b></h5>
                <p>Created the Ducklings logo</p>
                <a href="https://twitter.com/Scottso_Splat" target="_blank">
                    <img src="Images/brandLogos/Twitter/Twitter Logos/Twitter_Logo_Blue/Twitter_Logo_Blue.svg" height=40px width=40px>
                </a>
            </div>
        </div>
        <div class="card">
            <img class="cardImg" src="https://pbs.twimg.com/profile_images/892486977659994113/7A4QxVBC_400x400.jpg">
            <div class="helpfulPeopleContainer">
                <h5><b>The Mole</b></h5>
                <p>Collecting match data</p>
                <a href="https://twitter.com/The_MoleUK" target="_blank">
                    <img src="Images/brandLogos/Twitter/Twitter Logos/Twitter_Logo_Blue/Twitter_Logo_Blue.svg" height=40px width=40px>
                </a>
            </div>
        </div>
        <div class="card">
            <img class="cardImg" src="https://pbs.twimg.com/profile_images/1143106423683002370/-xXGxmzl_400x400.jpg">
            <div class="helpfulPeopleContainer">
                <h5><b>Spid</b></h5>
                <p>To make him feel special</p>
                <a href="https://twitter.com/ItsSpid" target="_blank">
                    <img src="Images/brandLogos/Twitter/Twitter Logos/Twitter_Logo_Blue/Twitter_Logo_Blue.svg" height=40px width=40px>
                </a>
            </div>
        </div>
    </div>
</div>
