<div class="text-center">
    <h3 class="m-4">Upper Bracket</h3>

    <div class="d-block overflow-auto text-center">
        <svg width="976" height="492" viewBox="0 0 976 492">
            <g style="transform-origin: 0px 0px;">
                <g>@*Lines*@</g>
                <g>@*Matches*@</g>
                <g class="rounds">
                    <svg class="round" x="0">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect width="243" height="25"></rect>
                            <text x="122" y="17" width="243" height="15" text-anchor="middle" class="round-headder">Round 1</text>
                            <rect y="25" width="243" height="25"></rect>
                            <text class="round-headder" style="font-weight:bold;" x="122" y="42" width="243" height="15" text-anchor="middle">Best Of 7</text>
                        </g>
                    </svg>
                    <svg class="round" x="244">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect width="243" height="25"></rect>
                            <text class="round-headder" x="122" y="17" width="243" height="15" text-anchor="middle">Quarter Finals</text>
                            <rect y="25" width="243" height="25"></rect>
                            <text class="round-headder" style="font-weight:bold;" x="122" y="42" width="243" height="15" text-anchor="middle">Best Of 7</text>
                        </g>
                    </svg>
                    <svg class="round" x="488">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect width="243" height="25"></rect>
                            <text class="round-headder" x="122" y="17" width="243" height="15" text-anchor="middle">Semi Finals</text>
                            <rect y="25" width="243" height="25"></rect>
                            <text class="round-headder" style="font-weight:bold;" x="122" y="42" width="243" height="15" text-anchor="middle">Best Of 9</text>
                        </g>
                    </svg>
                    <svg class="round" x="732">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect width="243" height="25"></rect>
                            <text class="round-headder" x="122" y="17" width="243" height="15" text-anchor="middle">Grand Finals</text>
                            <rect y="25" width="243" height="25"></rect>
                            <text class="round-headder" style="font-weight:bold;" x="122" y="42" width="243" height="15" text-anchor="middle">Best Of 9</text>
                        </g>
                    </svg>
                </g>
            </g>
        </svg>
    </div>
</div>

