<div class="text-center">
    <h3 class="m-4">Upper Bracket</h3>

    <iframe src="https://challonge.com/SL2021upper/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
</div>

