@page "/other"

<div class="text-center">
    <h1>Useful Information</h1>

    <div class="m-3">
        <p>Images Sourced from the <a target="_blank" href="https://splatoonwiki.org/wiki/Splatoon_2"><em>Splatoon 2 Wiki</em></a></p>
    </div>

    <div class="m-3">
        <p>This is an unofficial website for the Squid League NPUK Tournament this is in not affiliated with Nintendo Players UK (NPUK) in any way</p>
    </div>

    <div class="m-3">
        <p>Any Issues or Feedback please contact me on <a target="_blank" href="https://twitter.com/Geo_Cubed"><em>Twitter</em></a> or on Discord <em>(Geo Cubed#8456)</em></p>
    </div>

    <div class="m-3">
        <p>Anyone who wishes for their team / username to be removed please contact me on <a target="_blank" href="https://twitter.com/Geo_Cubed"><em>Twitter</em></a> or on Discord <em>(Geo Cubed#8456)</em></p>
    </div>
</div>