@inherits LayoutComponentBase

<div class="page">
    <MediaQueryList>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="content px-4" style="flex-grow:1;">
                @Body
            </div>

            <footer>
                <PageFooter />
            </footer>    
        </div>
    </MediaQueryList>
</div>
