<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="/Images/Branding/duckling.png" class="mr-3"/>Squid League 4</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <span class="oi oi-people" aria-hidden="true"></span> Teams
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="matches">
                <span class="oi oi-calendar"></span> Matches
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bracket">
                <span class="oi oi-spreadsheet"></span> Bracket
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="maps">
                <span class="oi oi-map"></span> Maps
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="casters">
                <span class="oi oi-microphone"></span> Casters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stats">
                <span class="oi oi-pie-chart"></span> Stats
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/root">
                        <span class="oi oi-wrench"></span> Admin Options
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@using Microsoft.AspNetCore.Components.Authorization;
@using GeoCubed.SquidLeague4.Website.Auth;

@code {
    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected async override Task OnInitializedAsync()
    {
        await((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
    }
}
