<img src="/Images/Branding/bottomBar.png" style="width:100%;"/>
<div class="text-center pb-3" style="background:#0099ff;margin-top:-10px;">
    <span class="position-relative d-block pb-1">
        <a href="https://discord.gg/p77gGNC " target="_blank">
            <img src="Images/brandLogos/Discord/Discord-Logo-White.svg" style="width:40px;height:40px;">
        </a>
        <a href="https://twitter.com/Geo_Cubed" target="_blank">
            <img src="Images/brandLogos/Twitter/Twitter_Logo_WhiteOnImage.svg" style="width:40px;height:40px;">
        </a>
        <a href="https://github.com/Geo-Cubed/Squid-League-4" target="_blank">
            <img src="Images/brandLogos/GitHub/GitHub-Mark-Light-64px.png" style="width:40px;height:40px;">
        </a>
    </span>
    <span class="position-relative d-block">
        <NavLink class="text-white" href="helpfulpeople">Special Thanks</NavLink>
        <NavLink class="text-white ml-2 mr-2" href="other">Other Links</NavLink>
        <NavLink class="text-white" href="login">Admin Login</NavLink>
    </span>
</div>